/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/*=== LANDING GRADIENT ===*/
.landing {
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #4b79a1, #283e51);
  padding: 7rem 0;
}

/*=== HEADINGS & ICONS ===*/
h4 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  /* padding-top: 7rem; */
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
}
h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
  padding: 1.8rem 0;
}
/* .home {
  padding-bottom: 7rem;
} */
.fa-stack-2x,
.fa-stack-1x {
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}
.fa-stack.fa-2x {
  font-size: 2.3rem !important;
}
.fa-stack-2x {
  opacity: 0.15;
}
.fa-stack-1x {
  opacity: 0.7;
}
.fa-stack:hover .fa-stack-2x {
  opacity: 0.4 !important;
}
.fa-stack:hover .fa-stack-1x {
  opacity: 1 !important;
}
.africa + .fa-stack-1x {
  opacity: 1;
}
.africa {
  opacity: 0.4 !important;
}

/*=== NAVIGATION ===*/
.navbar {
  background-image: linear-gradient(90deg, #4b79a1, #283e51);
  padding: 0.3rem 0 0.6rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
  height: 3rem;
  padding-top: 0.2rem;
}
.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
  margin-right: 0.8rem;
}
.nav-link.active,
.nav-link:hover {
  border-bottom: thin solid #fff;
}

/*=== CONTENT STYLE ===*/
.fa-asterisk {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-weight: 300;
}
.w-100 {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
/*=== FIXED BACKGROUND IMG ===*/
.fixed-background {
  padding: 10rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
/* .fixed-background h3 {
  font-weight: 300 !important;
} */
.fixed {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/macbook.jpg");
  position: fixed;
  /* opacity: 0.3; */
}
/*=== FOOTER ===*/
footer {
  background-image: linear-gradient(90deg, #4b79a1, #283e51);
  box-shadow: 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  padding: 2.5rem 2rem;
}
footer img {
  height: 3.5rem;
  margin: 0 auto 2rem;
}
footer a,
footer p,
.socket a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}
footer a:hover,
.socket a:hover {
  color: #fff;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0 auto;
  /* align-items: space-between; */
}
ul.social li {
  margin: 0 auto;
}
ul.social .svg-inline--fa {
  font-size: 2.2rem;
}
ul.social .svg-inline--fa:hover {
  color: gray !important;
}
/*=== SOCKET ===*/
.socket {
  background-image: linear-gradient(90deg, #4b79a1, #283e51);
  border-top: thin solid #fff;
  color: #fff;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 2.6rem;
  }
  .fa-stack.fa-2x {
    font-size: 2rem !important;
  }
  .fixed-background {
    padding: 10rem 0;
  }
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  h1 {
    font-size: 2rem;
  }
  .fa-stack.fa-2x {
    font-size: 1.7rem !important;
  }
  .fixed-background {
    padding: 7rem 0;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
